<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>929589504566-kt3a2h0retc9ev5khqllb5sehqobs2il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929589504566-kt3a2h0retc9ev5khqllb5sehqobs2il</string>
	<key>API_KEY</key>
	<string>AIzaSyARja30d20-B1U97lOOBqKxiz19fBFprUI</string>
	<key>GCM_SENDER_ID</key>
	<string>929589504566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neura.cordova.sample</string>
	<key>PROJECT_ID</key>
	<string>neura-6f614</string>
	<key>STORAGE_BUCKET</key>
	<string>neura-6f614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929589504566:ios:c60b3b53291c0a0d</string>
	<key>DATABASE_URL</key>
	<string>https://neura-6f614.firebaseio.com</string>
</dict>
</plist>